html {
  scroll-behavior: smooth; }

.nav_bar {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-bottom: 50px; }

.slide_show {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: black;
  width: 290px;
  height: 350px; }

.who_am_i {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding-top: 10px; }

.who_am_i_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px; }

.icon_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black; }

.profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px; }

.profile_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.profile_images1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px; }

.team {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px; }

.team_sub_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.count_chart {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black; }

.sponsors {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: black; }

.sub_footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px; }

footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px; }

.welcome_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.awesome_profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.course {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px; }

.count_up2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding-bottom: 100px;
  background-color: black;
  color: white; }

header img {
  width: 100px;
  height: 50px;
  margin-left: 40%; }
header input {
  height: 5%;
  display: none;
  border-radius: 5px; }
header button {
  height: 10%;
  display: none;
  border-radius: 5px; }

.container {
  text-align: center; }

.nav_bar {
  text-align: left; }
  .nav_bar img {
    float: left; }

.menu {
  margin: 0 30px 0 0;
  display: none;
  position: absolute;
  background-color: white;
  top: 50px; }

.menu a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  line-height: 70px;
  display: block;
  text-align: center;
  clear: right; }
.menu a:hover {
  color: #e38f84; }

label {
  margin: 0 40px 0 0;
  display: block;
  cursor: pointer;
  width: 26px;
  float: right; }

#toggle {
  display: none; }

#toggle:checked + .menu {
  display: block;
  padding-top: 20px; }

input {
  margin-left: 20%; }

button img {
  width: 12px;
  height: 12px; }

.slide_show {
  color: white;
  text-align: center;
  padding-top: 50px;
  animation-name: slideshow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat; }
  .slide_show p {
    margin: 2%; }
  .slide_show div {
    background-color: rgba(0, 0, 0, 0.5); }
  .slide_show #coding {
    display: inline;
    background-color: #e38f84;
    border-color: #e38f84;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    color: white; }
    .slide_show #coding a {
      text-decoration: none;
      color: white; }
  .slide_show #coding:hover {
    padding-right: 50px; }
  .slide_show #about_us {
    display: inline;
    background-color: black;
    border-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    color: white; }
  .slide_show #about_us:hover {
    padding-right: 50px; }
  .slide_show a {
    text-decoration: none; }

@keyframes slideshow {
  0% {
    background-image: url("../images/slider-image1.jpg");
    background-position: center;
    background-size: cover; }
  25% {
    background-image: url("../images/slider-image1.jpg");
    background-position: center;
    background-size: cover; }
  50% {
    background-image: url("../images/code4ct_homeslider2.jpg");
    background-position: center;
    background-size: cover; }
  75% {
    background-image: url("../images/code4ct_homeslider2.jpg");
    background-position: center;
    background-size: cover; }
  100% {
    background-image: url("../images/code4ct_homeslider3.jpg");
    background-position: center;
    background-size: cover; } }
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

/*active and hover background-colour for dot indicators*/
.active, .dot:hover {
  background-color: red; }

.who_am_i_images img {
  width: 100%;
  height: 70%; }

.read_more {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 5px;
  color: white; }
  .read_more a {
    text-decoration: none;
    color: black; }

.read_more:hover {
  padding-right: 50px; }

.service {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 5px;
  color: white; }
  .service a {
    text-decoration: none;
    color: black; }

.service:hover {
  padding-right: 50px; }

.icon_section {
  color: white; }
  .icon_section img {
    width: 30%;
    height: 30%;
    text-align: center;
    padding-top: 5px; }
  .icon_section div {
    margin-left: 10%;
    margin-right: 10%; }

footer {
  background-color: #e38f84;
  text-align: center; }

.team img {
  width: 80%; }

.wrapper {
  overflow: hidden; }

.sliding-background {
  background: url("../images/carousalremake.png") repeat-x;
  height: 150px;
  width: 5076px;
  animation: move 100s linear infinite; }

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-3172px, 0, 0); } }
.about {
  background-color: grey;
  height: 300px;
  padding-top: 100px; }
  .about a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    text-align: center; }
  .about a:hover {
    color: #e38f84; }

.scroll_button {
  text-align: right;
  position: sticky;
  bottom: 3%;
  padding-bottom: 2%; }
  .scroll_button a {
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 2s; }
@keyframes scroll {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
.sub_footer ul {
  display: inline-block; }
.sub_footer a {
  text-decoration: none;
  color: black; }
.sub_footer a:hover {
  color: #e38f84; }

.subscribe {
  padding-top: 5px;
  padding-bottom: 5px; }
  .subscribe input {
    margin-right: 5%; }
  .subscribe button {
    background-color: #e38f84;
    border-color: #e38f84;
    border-radius: 5px;
    color: white; }
  .subscribe button:hover {
    padding-right: 50px; }

#countUp {
  width: 100%;
  height: auto;
  background-color: black;
  color: white; }

.counter {
  border-top: 2px solid #e38f84;
  width: 20%; }

.awesome_profile div {
  height: 30vh; }

.portfolio_img1 {
  background-image: url(../images/portfolio1.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center; }

.portfolio_img2 {
  background-image: url(../images/portfolio2.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img3 {
  background-image: url(../images/portfolio3.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img4 {
  background-image: url(../images/portfolio4.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img5 {
  background-image: url(../images/portfolio5.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img6 {
  background-image: url(../images/portfolio6.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img7 {
  background-image: url(../images/portfolio7.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img8 {
  background-image: url(../images/portfolio8.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img9 {
  background-image: url(../images/portfolio9.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img10 {
  background-image: url(../images/portfolio10.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img11 {
  background-image: url(../images/portfolio11.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.portfolio_img12 {
  background-image: url(../images/portfolio12.JPG);
  background-size: cover;
  width: 100%;
  height: 100%; }

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 80%;
  height: 80%;
  text-align: center;
  top: 0%;
  left: 0;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.5); }

.lightbox img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 2%; }

.lightbox:target {
  outline: none;
  display: block; }

form table tr td {
  display: block; }

td {
  width: 300px; }

textarea {
  width: 300px; }

.send {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

.send:hover {
  padding-right: 50px; }

#cart {
  background-color: black;
  color: black; }

.basket {
  text-align: left;
  position: absolute;
  top: 3%;
  padding-bottom: 2%;
  width: 150px;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 2s; }

.course div {
  padding-top: 50px; }

#add1 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add1:hover {
  padding-right: 50px; }

#remove1 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove1:hover {
  padding-right: 50px; }

#add2 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add2:hover {
  padding-right: 50px; }

#remove2 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove2:hover {
  padding-right: 50px; }

#add3 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add3:hover {
  padding-right: 50px; }

#remove3 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove3:hover {
  padding-right: 50px; }

#add4 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add4:hover {
  padding-right: 50px; }

#remove4 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove4:hover {
  padding-right: 50px; }

#add5 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add5:hover {
  padding-right: 50px; }

#remove5 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove5:hover {
  padding-right: 50px; }

#add6 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#add6:hover {
  padding-right: 50px; }

#remove6 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white; }

#remove6:hover {
  padding-right: 50px; }

.contact_us ul li {
  list-style: none;
  list-style-type: none; }

@media screen and (min-width: 480px) {
  .slide_show {
    width: 470px;
    height: 350px; } }
@media screen and (min-width: 768px) {
  header input {
    display: inline; }
  header button {
    display: inline; }

  label {
    display: none; }

  .menu {
    display: inline-flex;
    top: 10px; }

  .slide_show {
    width: 760px;
    height: 350px; }

  .who_am_i_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px; }

  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .count_chart {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: black; }

  .course {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 10px; }

  #countUp {
    padding-top: 30px; }

  .subscribe button {
    margin-right: 23%; } }
@media screen and (min-width: 1024px) {
  .slide_show {
    width: 1024px;
    height: 350px; }

  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .who_am_i_images img {
    width: 60%;
    height: 70%; }

  .profile_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .profile_images1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px; }

  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .profile_image_size img {
    height: 104%;
    width: 85%; }

  .awesome_profile {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; }

  .form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  #countUp {
    text-align: left; }

  .counter {
    width: 4%; }

  form table tr td {
    display: inline-block; }

  .count_up2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 100px;
    background-color: black;
    color: white; } }
td {
  width: 200px; }

textarea {
  width: 300px; }

@media screen and (min-width: 1200px) {
  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .nav_bar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .slide_show {
    width: 1170px;
    height: 350px; }

  .who_am_i {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .icon_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black; }

  .profile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 10px; }

  .team {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px; }

  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; }

  .count_chart {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black; }

  .sponsors {
    display: grid;
    grid-template-columns: auto  auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: black; }

  .count_chart {
    width: 90em;
    height: 10em; }

  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px; } }
@media screen and (min-width: 1400px) {
  .slide_show {
    width: 1390px;
    height: 350px; } }

/*# sourceMappingURL=style.css.map */
