// styling mobile
// grids
// header
.nav_bar {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.slide_show {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: black;
  width: 340px;
  height: 350px;
}
// body section
// who am i section
.who_am_i {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding-top: 10px;
}
// images for who am i
.who_am_i_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}
// icon_section
.icon_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// profile section
.profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
// profile_images section
.profile_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.profile_images1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
// team section
.team {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}
.team_sub_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
// count_chart
.count_chart {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// sponsors section
.sponsors {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// sub footer
.sub_footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.welcome_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.awesome_profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}
.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
// styling header
header {
  img {
    width: 100px;
    height: 50px;
    margin-left: 40%;
  }
}
// styling my container
.container {
  text-align: center;
}
// styling nav
.nav_bar {
  text-align: right;
  img {
    float: left;
  }
}
.menu {
 margin: 0 30px 0 0;
 display: none;
}
.menu{
  a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    text-align: center;
    clear: right;
  }
  a:hover {
    color: #e38f84;
  }
}
label {
  margin: 0 40px 0 0;
  display: block;
  cursor: pointer;
  width: 26px;
  float: right;
 }
 #toggle {
   display: none;
 }
 #toggle:checked + .menu {
   display: block;
 }

input {
   margin-left: 30%;
}
button{
  img {
    width: 12px;
    height: 12px;
  }
}
// styling my slide show section
.slide_show {
  color: white;
  text-align: center;
  padding-top: 50px;
  animation-name: slideshow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat;
   p {
     margin: 2%;
   }
   div {
     background-color: rgba(0, 0, 0, 0.5);
   }
   #read_more {
     background-color: #e38f84;
     border-color: #e38f84;
     border-radius: 5px;
     padding: 10px;
     color: white;
   }
   #read_more:hover {
     padding-right: 50px;
   }
   #about_us {
     background-color: black;
     border-color: white;
     border-radius: 5px;
     padding: 10px;
     color: white;
   }
   #about_us:hover {
     padding-right: 50px;
   }
}
@keyframes slideshow {
  0% {background-image: url("../images/slider-image1.jpg");
  background-position: center;
  background-size: cover;}
  25% {background-image: url("../images/slider-image1.jpg");
  background-position: center;
  background-size: cover;}
  50% {background-image: url("../images/code4ct_homeslider2.jpg");
  background-position: center;
  background-size: cover;}
  75% {background-image: url("../images/code4ct_homeslider2.jpg");
  background-position: center;
  background-size: cover;}
  100% {background-image: url("../images/code4ct_homeslider3.jpg");
  background-position: center;
  background-size: cover;}
}
// who_am_i_images section
.who_am_i_images {
  img {
    width: 100%;
    height: 70%;
  }
}
// styling my icon_section
.icon_section {
  color: white;
  img {
    width: 30%;
    height: 30%;
    text-align: center;
    padding-top: 5px;
  }
  div {
    margin-left: 10%;
    margin-right: 10%;
  }
}
footer {
  background-color: #e38f84;
  text-align: center;
}
// my icon carousel
.wrapper {
  overflow: hidden;
}
.sliding-background {
  background: url("../images/carousalremake.png") repeat-x;
  height: 150px;
  width: 5076px;
  animation: move 30s linear infinite;
  // padding-left: 0;
  // padding-right: 0;
}
@keyframes move{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3172px, 0, 0);
  }
}
// About page
// about section
.about {
  background-color: grey;
  height: 300px;
  padding-top: 100px;
  a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    text-align: center;
  }
  a:hover {
    color: #e38f84;
  }
}
.scroll_button {
  text-align: right;
  position: sticky;
  bottom: 3%;
  padding-bottom: 2%;
  a{
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  @keyframes scroll {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
  }
}
// sub footer
.sub_footer {
  ul {
    display: inline-block;
  }
}
// subscribe section
.subscribe {
  input {
    margin-right: 5%;
  }
  button {
    background-color: #e38f84;
    border-color: #e38f84;
    border-radius: 5px;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  label {
    display: none;
  }
  .menu {
    display: inline-flex;
  }
  .slide_show {
    width: 760px;
    height: 350px;
  }
  // images for who am i
  .who_am_i_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
  // team section sub grid
  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .count_chart {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
  }
}
// styling my desktop
@media screen and (min-width: 1024px) {
  .slide_show {
    width: 1024px;
    height: 350px;
  }
  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .who_am_i_images {
    img {
      width: 60%;
      height: 70%;
    }
  }
  .profile_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .profile_images1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .profile_image_size {
   img {
     height: 104%;
     width: 85%;
   }
  }
  .awesome_profile {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}
// styling large desktop
@media screen and (min-width: 1200px) {
  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .nav_bar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .slide_show {
    width: 1470px;
    height: 350px;
  }
  .who_am_i {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .icon_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black;
  }
  // profile section
  .profile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  // team section
  .team {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  // count_chart
  .count_chart {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black;
  }
  // sponsors section
  .sponsors {
    display: grid;
    grid-template-columns: auto  auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: black;
  }
  .count_chart {
    width: 90em;
    height: 10em;

  }
  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}
