// styling my smooth scroll
html {
  scroll-behavior: smooth;
}
// styling mobile
// grids
// header
.nav_bar {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-bottom: 50px;
}
.slide_show {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: black;
  width: 100%;
  height: 350px;
}
// body section
// who am i section
.who_am_i {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding-top: 10px;
}
// images for who am i
.who_am_i_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}
// icon_section
.icon_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// profile section
.profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
// profile_images section
.profile_images {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.profile_images1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
// team section
.team {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}
.team_sub_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
// count_chart
.count_chart {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// sponsors section
.sponsors {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: black;
}
// sub footer
.sub_footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.welcome_section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.awesome_profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}
.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.course {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
}
.count_up2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding-bottom: 100px;
  background-color: black;
  color: white;
}
// styling header
header {
  img {
    width: 100px;
    height: 50px;
  }
  input {
    height: 5%;
    display: none;
    border-radius: 5px;
  }
  button {
    height: 10%;
    display: none;
    border-radius: 5px;
  }
}
// styling my container
.container {
  text-align: center;
}
// styling nav
.nav_bar {
  text-align: left;
  img {
    float: left;
  }
}
.menu {
   margin: 0 30px 0 0;
   display: none;
   position: absolute;
   background-color: white;
   top: 50px;
}
.menu{
  a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    text-align: center;
    clear: right;
  }
  a:hover {
    color: #e38f84;
  }
}
label {
  margin: 0 40px 0 0;
  display: block;
  cursor: pointer;
  width: 26px;
  float: right;
 }
 #toggle {
   display: none;
 }
 #toggle:checked + .menu {
   display: block;
   padding-top: 20px;

 }

input {
   margin-left: 20%;
}
button{
  img {
    width: 12px;
    height: 12px;
  }
}
// styling my slide show section
// my background images
.slide_show {
  color: white;
  text-align: center;
  padding-top: 50px;
  animation-name: slideshow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat;
   p {
     margin: 2%;
   }
   div {
     background-color: rgba(0, 0, 0, 0.5);
   }
   // styling my button on slide
   #coding {
     display: inline;
     background-color: #e38f84;
     border-color: #e38f84;
     border-radius: 5px;
     padding: 10px;
     padding-bottom: 20px;
     color: white;
     a {
       text-decoration: none;
       color: white;
     }
   }
   #coding:hover {
     padding-right: 50px;
   }
   #about_us {
     display: inline;
     background-color: black;
     border-color: white;
     border-radius: 5px;
     padding: 10px;
     padding-bottom: 20px;
     color: white;
   }
   #about_us:hover {
     padding-right: 50px;
   }
   a {
     text-decoration: none;
   }
}
@keyframes slideshow {
  0% {background-image: url("../images/slider-image1.jpg");
  background-position: center;
  background-size: cover;}
  25% {background-image: url("../images/slider-image1.jpg");
  background-position: center;
  background-size: cover;}
  50% {background-image: url("../images/code4ct_homeslider2.jpg");
  background-position: center;
  background-size: cover;}
  75% {background-image: url("../images/code4ct_homeslider2.jpg");
  background-position: center;
  background-size: cover;}
  100% {background-image: url("../images/code4ct_homeslider3.jpg");
  background-position: center;
  background-size: cover;}
}
.dot {
       cursor: pointer;
       height: 15px;
       width: 15px;
       margin-top:4px;
       background-color: #bbb;
       border-radius: 50%;
       display: inline-block;
       transition: background-color 0.6s ease;
 }
/*active and hover background-colour for dot indicators*/
.active, .dot:hover {
   background-color: red;
}
// who_am_i_images section
.who_am_i_images {
  img {
    width: 100%;
    height: 70%;
  }
}
// styling read more button
.read_more {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 5px;
  color: white;
  a {
    text-decoration: none;
    color: black;
  }
}
.read_more:hover {
  padding-right: 50px;
}
// styling our service button
.service {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 5px;
  color: white;
  a {
    text-decoration: none;
    color: black;
  }
}
.service:hover {
  padding-right: 50px;
}
// styling my icon_section
.icon_section {
  color: white;
  img {
    width: 30%;
    height: 30%;
    text-align: center;
    padding-top: 5px;
  }
  div {
    margin-left: 10%;
    margin-right: 10%;
  }
}
footer {
  background-color: #e38f84;
  text-align: center;
}
// meet the team section
.team {
  img {
    width: 80%;
  }
}
// my icon carousel
.wrapper {
  overflow: hidden;
}
.sliding-background {
  background: url("../images/carousalremake.jpg") repeat-x;
  height: 150px;
  width: 5076px;
  animation: move 100s linear infinite;
  // padding-left: 0;
  // padding-right: 0;
}
@keyframes move{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3172px, 0, 0);
  }
}
// About page
// about section
.about {
  background-color: grey;
  height: 300px;
  padding-top: 100px;
  a {
    text-decoration: none;
    color: black;
    display: inline-flex;
    text-align: center;
  }
  a:hover {
    color: #e38f84;
  }
}
// styling back to top button
.scroll_button {
  text-align: right;
  position: sticky;
  bottom: 3%;
  padding-bottom: 2%;
  a{
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 2px;
    text-decoration: none;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  @keyframes scroll {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
  }
}
// sub footer
.sub_footer {
  ul {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #e38f84;
  }
}
// subscribe section
.subscribe {
  padding-top: 5px;
  padding-bottom: 5px;
  input {
    margin-right: 5%;
  }
  button {
    background-color: #e38f84;
    border-color: #e38f84;
    border-radius: 5px;
    color: white;
  }
  button:hover {
    padding-right: 50px;
  }
}
// styling my count up
#countUp{
    width: 100%;
    height:auto;
    background-color: black;
    color: white;
}
.counter {
    border-top: 2px solid #e38f84;
    width: 20%;
}
// styling my light box
.awesome_profile {
  div {
    height: 30vh;
  }
}
.portfolio_img1 {
  background-image: url(../images/portfolio1.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}
.portfolio_img2 {
  background-image: url(../images/portfolio2.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img3 {
  background-image: url(../images/portfolio3.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img4 {
  background-image: url(../images/portfolio4.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img5 {
  background-image: url(../images/portfolio5.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img6 {
  background-image: url(../images/portfolio6.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img7 {
  background-image: url(../images/portfolio7.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img8 {
  background-image: url(../images/portfolio8.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img9 {
  background-image: url(../images/portfolio9.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img10 {
  background-image: url(../images/portfolio10.JPG);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img11 {
  background-image: url(../images/portfolio11.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio_img12 {
  background-image: url(../images/portfolio12.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.lightbox {
    // lightbox on HTML set to  hidden
    display: none;
    position: fixed;
    z-index: 999;
    width: 80%;
    height: 80%;
    text-align: center;
    top: 0%;
    left: 0;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

    // Pad the lightbox image
.lightbox img {
    max-width: 50%;
    max-height: 50%;
    margin-top: 2%;
}
.lightbox:target {
    // Remove outline
    outline: none;

    // display lightbox
    display: block;
}
// styling my form on contact page
form {
  table {
    tr {
      td {
        display: block;
      }
    }
  }
}
td {
  width: 300px;
}
textarea {
  width: 300px;
}
// styling my form send button
.send {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.send:hover {
  padding-right: 50px;
}
// styling cart
#cart {
  background-color: black;
  color: black;
}
// styling my basket
.basket {
  text-align: left;
  position: absolute;
  top: 3%;
  padding-bottom: 2%;
  width: 100px;
  padding-top: 136%;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.course {
  div {
    padding-top: 50px;
  }
}
// courses buttons
#add1 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add1:hover {
  padding-right: 50px;
}
#remove1 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove1:hover {
  padding-right: 50px;
}
#add2 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add2:hover {
  padding-right: 50px;
}
#remove2 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove2:hover {
  padding-right: 50px;
}
#add3 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add3:hover {
  padding-right: 50px;
}
#remove3 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove3:hover {
  padding-right: 50px;
}
#add4 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add4:hover {
  padding-right: 50px;
}
#remove4 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove4:hover {
  padding-right: 50px;
}
#add5 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add5:hover {
  padding-right: 50px;
}
#remove5 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove5:hover {
  padding-right: 50px;
}
#add6 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#add6:hover {
  padding-right: 50px;
}
#remove6 {
  background-color: #e38f84;
  border-color: #e38f84;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#remove6:hover {
  padding-right: 50px;
}
// styling cart
#cart {
  h2 {
    font-size: 15px;
  }
  width: 100px;
  img {
    margin-left: 25%;
  }
}
// contact us in sub footer section
.contact_us {
  ul {
    li {
      list-style: none;
      list-style-type: none;
    }
  }
}

@media screen and (min-width: 480px) {
  .slide_show {
    width: 100%;
    height: 350px;
  }
  .basket {
    padding-top: 102%;
  }
}

@media screen and (min-width: 768px) {
  .nav_bar {
    input {
       margin-left: 0%;
    }
  }
  header {
    input {
      display: inline;
    }
    button {
      display: inline;
    }
  }
  label {
    display: none;
  }
  .menu {
    display: inline-flex;
    top: 10px;
  }
  .slide_show {
    width: 100%;
    height: 350px;
  }
  .nav_bar {
    width: 100px
  }
  // images for who am i
  .who_am_i_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }
  // team section sub grid
  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .count_chart {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
  }
  .course {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 10px;
  }
  #countUp {
    padding-top: 30px;
  }
  .subscribe {
    button {
      margin-right: 23%;
    }
  }
  // basket
  .basket {
    padding-top: 57%;
  }
}
// styling my desktop
@media screen and (min-width: 1024px) {
  .nav_bar {
    input {
       margin-left: 20%;
    }
  }
  .slide_show {
    width: 100%;
    height: 350px;
  }
  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .who_am_i_images {
    img {
      width: 60%;
      height: 70%;
    }
  }
  .profile_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .profile_images1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .profile_image_size {
   img {
     height: 104%;
     width: 85%;
   }
  }
  .awesome_profile {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  #countUp {
    text-align: left;
  }
  .counter {
      width: 4%;
  }
  form {
    table {
      tr {
        td {
          display: inline-block;
        }
      }
    }
  }
  .count_up2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
  }
}
td {
  width: 200px;
}
textarea {
  width: 300px;
}
// basket
.basket {
  padding-top: 42%;
}
// styling large desktop
@media screen and (min-width: 1200px) {
  .nav_bar {
    width: 100%
  }
  .welcome_section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .nav_bar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .slide_show {
    width: 100%;
    height: 350px;
  }
  .who_am_i {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .icon_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black;
  }
  // profile section
  .profile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  // team section
  .team {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }
  .team_sub_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  // count_chart
  .count_chart {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: black;
  }
  // sponsors section
  .sponsors {
    display: grid;
    grid-template-columns: auto  auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: black;
  }
  .count_chart {
    width: 90em;
    height: 10em;

  }
  .sub_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  // basket
  .basket {
    padding-top: 36%;
  }
}
@media screen and (min-width: 1400px) {
  .slide_show {
    width: 100%;
    height: 350px;
  }
  // basket
  .basket {
    padding-top: 30%;
  }

}
